@use '../../scss/colors';
@use '../../scss/media';

.order {
    min-height: 48px;
    border-radius: 12px;

    @include media.sm {
    }

    @include media.md {
    }

    @include media.lg {
        padding-top: 72px;
    }

    @include media.xl {
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    @include media.lg {
        margin-bottom: 12px;
    }
}

.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    @include media.lg {
        font-size: 24px;
    }
}

.count {
    @include media.lg {
        font-size: 12px;
        line-height: 16px;
        width: 41px;
        height: 20px;
    }
}

.content {
    display: none;

    @include media.lg {
        display: block;
    }
}

.list {
    margin-bottom: 16px;

    @include media.lg {
        margin-bottom: 16px;
    }
}

.item {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 15px 0;
    border-bottom: 1px solid #f2f2f3;

    &:first-child {
        border-top: 1px solid #f2f2f3;
    }
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    line-height: 130%;
}

.submit {
    width: 100%;
    margin-bottom: 8px;
    padding: 12px;
    line-height: 100%;
    color: #ffffff;
    background-color: #ff7020;
    border-radius: 12px;

    &:hover {
        background-color: #ffab08;
    }
    &:focus {
        background-color: #f86310;
    }
    &:disabled {
        color: #acacac;
        background-color: #f9f9f9;
    }
}

.appeal {
    width: fit-content;
    margin: 0 auto;
    padding: 0 32px;
    font-size: 12px;
    line-height: 16px;
    background: url(../../assets/img/delivery.png) left no-repeat;
}
