@use '../../scss/colors';
@use '../../scss/media';

.navigation {
    padding-top: 2em;
    padding-bottom: 2em;

    @include media.sm {
    }
    @include media.md {
    }
    @include media.lg {
    }
    @include media.xl {
    }
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    @include media.md {
        gap: 12px;
    }
    @include media.lg {
        gap: 24px;
    }
}

.button {
    padding: 7px 8px 7px 40px;
    font-size: 12px;
    line-height: 16px;
    background-color: colors.$white;
    background-position: 8px center;
    background-size: 24px;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 50px;
    outline: none;
    white-space: nowrap;

    &:hover,
    &:focus-visible {
        border-color: colors.$accent;
    }

    &_active {
        background-color: colors.$active;
        pointer-events: none;
    }

    @include media.lg {
        padding: 9px 14px 9px 46px;
        font-size: 16px;
        line-height: 22px;
        background-position: 14px center;
    }
}
