.navigation {
    // margin-bottom: 30px;
}

.container {
    // padding: 0;
    // min-width: 100vw;
}

.list {
    display: flex;
    padding: 0 calc(100vw / 2 - var(--container) / 2);
    gap: 8px;
    overflow-x: auto;
}

.button {
    font-size: 12px;
    line-height: 16px;
    padding: 7px 8px 7px 40px;
    background-color: #ffffff;
    background-size: 24px;
    background-position: 8px center;
    background-repeat: no-repeat;
    border-radius: 50px;
    border: 1px solid transparent;
    white-space: nowrap;
    outline: none;
}

.button:hover,
.button:focus-visible {
    border-color: #f86310;
}

.button_active {
    background-color: #ffab08;
    pointer-events: none;
}

.button_burger {
    background-image: url('../../assets/img/burger.png');
}

.button_snack {
    background-image: url('../../assets/img/snack.png');
}

.button_hot-dog {
    background-image: url('../../assets/img/hot-dog.png');
}

.button_combo {
    background-image: url('../../assets/img/combo.png');
}

.button_shawarma {
    background-image: url('../../assets/img/shawarma.png');
}

.button_pizza {
    background-image: url('../../assets/img/pizza.png');
}

.button_wok {
    background-image: url('../../assets/img/wok.png');
}

.button_dessert {
    background-image: url('../../assets/img/dessert.png');
}

.button_sauce {
    background-image: url('../../assets/img/sauce.png');
}

@media (min-width: 768px) {
    .list {
        gap: 12px;
    }
}

@media (min-width: 1024px) {
    .navigation {
        margin-bottom: 50px;
    }

    .list {
        gap: 24px;
    }

    .button {
        font-size: 16px;
        line-height: 22px;
        padding: 9px 14px 9px 46px;
        background-position: 14px center;
        background-repeat: no-repeat;
    }
}
