.product {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 4px;
    min-height: 243px;
}

.image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}

.price {
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 4px;
}

.title {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    flex-grow: 1;
    margin-bottom: 4px;
}

.detail {
    outline: none;
}

.detail:hover {
    color: #FF7020;
}

.detail::after {
    content: '';
    pointer-events: none;
    position: absolute;
    inset: 0;
    outline: 1px solid transparent;
    outline-offset: 5px;
    border-radius: 18px;
}

.detail:focus-visible::after {
    outline-color: #FF7020;
}

.weight {
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color: #B1B1B1;
    margin-bottom: 7px;
}

.add {
    background-color: #F2F2F3;
    border-radius: 8px;
    line-height: 100%;
    width: 100%;
    padding: 9px;
    font-size: 12px;
    outline: none;
}

.add:hover {
    background-color: #FFAB08;
}

.add:focus-visible {
    background-color: #F86310;
}

.add:disabled {
    background-color: #F9F9F9;
    color: #ACACAC;
}

@media (min-width: 1024px) {
    .product {
        border-radius: 16px;
        padding: 12px;
        min-height: 411px;
    }

    .image {
        height: 220px;
        margin-bottom: 16px;
    }

    .price {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .title {
        font-size: 16px;
        margin-bottom: 29px;
    }

    .weight {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .add {
        border-radius: 12px;
        padding: 12px;
        font-size: 16px;
    }

}
