@use 'scss/media';

.page-content {
    padding-top: 2em;
    padding-bottom: 2em;

    @include media.sm {
    }

    @include media.md {
    }

    @include media.lg {
        display: flex;
        gap: 2em;
    }

    @include media.xl {
    }
}
