@use 'media';

$container: 1920px;
$content: media.$xl;
$min-width: 320px;
$padding-sm: 10px;
$padding-md: 20px;
$padding-lg: 30px;

.container {
    max-width: $container;
    min-width: $min-width;
    width: 100%;
    margin: 0 auto;
    padding: 0;

    .container {
        margin: 0;
    }
}

.wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

.content {
    max-width: $content;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.content {
    padding-left: $padding-sm;
    padding-right: $padding-sm;

    @include media.min(media.$md + $padding-md * 2) {
        padding-left: $padding-md;
        padding-right: $padding-md;
    }
    @include media.min(media.$lg + $padding-lg * 2) {
        padding-left: $padding-lg;
        padding-right: $padding-lg;
    }
    @include media.min(media.$xl + $padding-lg * 2) {
        padding-left: 0;
        padding-right: 0;
    }
}
